@font-face {
    font-family: "IranYekan";
    font-weight: 400;
    font-style: normal; 
    src: url(/Assets/fonts/Vazir.woff) format("woff");
}

@font-face {
    font-family: "IranYekan";
    font-weight: 700;
    font-style: normal;
    src: url(/Assets/fonts/Vazir-Bold.woff) format("woff");
}

body,
button {
    font-family: "IranYekan";
}